<div class="container">
  @if (rawData) {
    <div>
      <h1>Statistics</h1>
      <tabset>
        @for (game of allCivGames; track game) {
          <tab [heading]="game.displayName" [active]="game === currentGame" (selectTab)="setCurrentGame(game)"> </tab>
        }
      </tabset>
      <div class="card card-body mt-0">
        <pydt-turn-stats [turnData]="globalData" [hideQueueCharts]="true"></pydt-turn-stats>
      </div>
      <div class="row mt-3 mb-2">
        <div class="col-md-6">
          <div class="d-flex align-items-center gap-2">
            <label class="mb-0 text-nowrap">Search for User:</label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="tableConfig.filtering.filterString"
              (ngModelChange)="onChangeTable(tableConfig, rawData[this.currentGame.id], visibleData)"
            />
          </div>
        </div>
        <div class="col-md-6">
          <pagination
            class="float-end"
            [(ngModel)]="tableConfig.paging.page"
            [totalItems]="tableConfig.filtering.filteredResults"
            [itemsPerPage]="tableConfig.paging.itemsPerPage"
            [maxSize]="5"
            [rotate]="false"
            (pageChanged)="onChangeTable(tableConfig, rawData[this.currentGame.id], visibleData, $event)"
          ></pagination>
        </div>
      </div>
      <hr />
      <ng-table
        [config]="tableConfig"
        [columns]="tableColumns"
        [rows]="visibleData"
        (tableChanged)="onChangeTable(tableConfig, rawData[this.currentGame.id], visibleData)"
      ></ng-table>
    </div>
  }
</div>
