<div class="container">
  <div *ngIf="games">
    <h1>Your Games</h1>
    <h3 *ngIf="games.length == 0">No games found.</h3>
    <div *ngFor="let game of games">
      <div class="well"> 
        <pydt-game-preview [game]="game"></pydt-game-preview>
        <div class="row">
          <div class="col-xs-12 text-center">
            <button type="button" class="btn btn-primary" [routerLink]="['/game', game.gameId]">View Game Details</button>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <h1>Create a New Game</h1>
    <div class="row">
      <div class="col-xs-12 text-center">
        <pydt-game-create-button></pydt-game-create-button>
      </div>
    </div>
  </div>
</div>