<div class="container pt-3">
  <h1>Create New Game</h1>
  <div class="card card-body">
    <form class="" (ngSubmit)="onSubmit()" #newGameForm="ngForm">
      @if (model) {
        <pydt-configure-game [model]="model" [selectedCivs]="[model?.player1Civ.leaderKey]"></pydt-configure-game>
      }
      <div class="row mb-3">
        <label for="selectCiv" class="col-sm-3 col-form-label">Select Your Civ:</label>
        <div class="col-sm-9">
          @if (curCiv) {
            <pydt-select-civ
              [curCiv]="curCiv"
              [curCivilization]="curCivilization"
              [civGame]="model?.civGame"
              [randomOnly]="model.randomOnly"
              [leaders]="filteredLeaders()"
              [availableCivilizations]="filteredCivilizations()"
              (selectedCiv)="selectedCivChange($event)"
              (selectedCivilization)="selectedCivilizationChange($event)"
            ></pydt-select-civ>
          }
        </div>
      </div>
      <div class="row mb-3">
        <div class="offset-sm-3 col-sm-9">
          <button type="submit" class="btn btn-primary" [disabled]="!newGameForm.form.valid">Create Game!</button>
        </div>
      </div>
    </form>
  </div>
</div>

<div
  bsModal
  #mustSetEmailModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="mustSetEmailModal"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">No Notification Email Set</h4>
        <button type="button" class="btn-close" aria-label="Close" [routerLink]="['user/profile']"></button>
      </div>
      <div class="modal-body">
        Creating a game implies more responsibility than simply joining a game - please set your notification email
        before you create the game so we can send you updates about the status of your game.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" [routerLink]="['/user/profile']">OK</button>
      </div>
    </div>
  </div>
</div>
