<div class="d-flex gap-3 mb-4" style="padding: 5px" (click)="clicked.emit(this.civ)">
  <div class="flex-shrink-0">
    <img [src]="imageUrl()" />
  </div>
  <div class="flex-grow-1">
    @if (!civ) {
      <h4 style="padding-top: 20px">Unknown Civ</h4>
    }
    @if (civ) {
      <h4 style="padding-top: 20px">
        {{ civ.fullDisplayName }}
        @if (civ.steamIdNeedsSubstitution) {
          <span style="color: #f00"> (REQUESTED SUBSTITUTION)</span>
        }
      </h4>
    }
  </div>
</div>
