<div class="container">
  <div>
    <h1>Open Games</h1>
    <p>
      This is a list of all games that are currently forming and available to join.
      @if (profile) {
        <span>If you don't see one that you want to join, use the button below to create one yourself!</span>
      }
      <b>Games must be started within 30 days of creation, or they will be automatically deleted!</b>
    </p>
    @if (profile) {
      <div class="row">
        <div class="col-12 text-center">
          <pydt-game-create-button></pydt-game-create-button>
        </div>
      </div>
    }
    <hr style="margin-bottom: 50px" />
    <div style="position: relative">
      <div style="position: absolute; right: 0; top: -40px" class="d-flex flex-column align-items-end gap-1">
        <div class="d-flex align-items-center gap-2">
          <label class="mb-0" style="width: 150px">Filter Games: </label>
          <select class="form-select" [ngModel]="gameTypeFilter$ | async" (ngModelChange)="setFilter($event)">
            <option value="">All Game Types</option>
            @for (game of games; track game) {
              <option [value]="game.id">{{ game.displayName }}</option>
            }
          </select>
        </div>
        <button type="button" class="btn btn-secondary btn-sm text-nowrap" (click)="togglePublicOnly()">
          <span
            class="fa-regular"
            [ngClass]="{
              'fa-square-check': publicOnly$ | async,
              'fa-square': (publicOnly$ | async) === false,
            }"
            aria-hidden="true"
          ></span>
          Public Only
        </button>
      </div>
      @if (profile) {
        <div class="row">
          <div class="col-10">
            <tabset>
              <tab heading="New Games" (selectTab)="getNotStarted()"></tab>
              <tab heading="Substitution Requested" (selectTab)="getOpenSlots(true)"></tab>
              <tab heading="In-Progress Games with Open Slots" (selectTab)="getOpenSlots(false)"></tab>
            </tabset>
          </div>
        </div>
      }
    </div>
    @if (filteredGames$ | async) {
      @if (!(filteredGames$ | async).length) {
        <h1>No games found.</h1>
      }
      @for (game of filteredGames$ | async; track game) {
        <div class="mb-3">
          <div class="card card-body">
            <pydt-game-preview [game]="game" [hideNotStarted]="true"></pydt-game-preview>
            <div class="row">
              <div class="col-12 text-center mt-3">
                <button type="button" class="btn btn-primary" [routerLink]="['/game', game.gameId]">
                  View Game Details
                </button>
              </div>
            </div>
          </div>
        </div>
      }
    }
  </div>
</div>
