<div *ngIf="game && game.inProgress">
  <div class="form-group">
    <label for="displayName" class="col-sm-3 control-label">Game Name:</label>
    <div class="col-sm-9">
      <p class='form-control-static'>{{model.displayName}}</p>
    </div>
  </div>
</div>
<div *ngIf="!game || !game.inProgress"> 
  <div class="form-group" [class.has-error]="!displayName.valid">
    <label for="displayName" class="col-sm-3 control-label">Game Name:</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" id="displayName" required [(ngModel)]="model.displayName" name="displayName" #displayName="ngModel">
    </div>
  </div>
  <div class="form-group">
    <label for="description" class="col-sm-3 control-label">Description:</label>
    <div class="col-sm-9">
      <textarea rows="3" class="form-control" id="description" [(ngModel)]="model.description" name="description" placeholder="A short description of game parameters, house rules, etc."></textarea>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label">DLC Support:</label>
    <div class="col-sm-9">
      <div class="checkbox" *ngFor="let dlc of majorDlc">
        <label>
          <input type="checkbox" [(ngModel)]="model.dlc[dlc.id]" (ngModelChange)="validateDlc()">
          {{dlc.displayName}}
        </label>
      </div>
      <hr />
      <div class="checkbox" *ngFor="let dlc of minorDlc">
        <label>
          <input type="checkbox" [(ngModel)]="model.dlc[dlc.id]" (ngModelChange)="validateDlc()">
          {{dlc.displayName}}
        </label>
      </div>
    </div>
    <span id="dlcHelp" class="help-block col-sm-offset-3">All players in your game must have any DLC selected installed, otherwise they will be unable to load save files!</span>
  </div>
  <div class="form-group">
    <label for="description" class="col-sm-3 control-label">Game Speed:</label>
    <div class="col-sm-9">
      <select class="form-control" [(ngModel)]="model.gameSpeed">
        <option *ngFor="let speed of model.civGame.gameSpeeds" [ngValue]="speed.key">{{speed.displayName}}</option>
      </select>
    </div>
    <span id="dlcHelp" class="help-block col-sm-offset-3">Please select Online unless you know what you're doing!  Asynchonous games can take a long time to complete!</span>
  </div>
  <div class="form-group">
    <label for="description" class="col-sm-3 control-label">Map Type:</label>
    <div class="col-sm-9">
      <select class="form-control" [(ngModel)]="model.mapFile" (ngModelChange)="model.possiblyUpdateMapSize()">
        <option value="">Other / Unknown / Custom Map</option>
        <option *ngFor="let map of model.civGame.maps" [ngValue]="map.file">{{map.displayName}}</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="description" class="col-sm-3 control-label">Map Size:</label>
    <div class="col-sm-9">
      <select class="form-control" [(ngModel)]="model.mapSize" [disabled]="model.selectedMap()?.mapSize">
        <option *ngFor="let size of model.civGame.mapSizes" [ngValue]="size.key">{{size.displayName}} (suggested {{size.players}} players)</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="slotsRange" class="col-sm-3 control-label">Number of Slots:</label>
    <div class="col-sm-1">
      <p class="form-control-static"><b>{{model.slots}}</b></p>
    </div>
    <div class="col-sm-8">
      <input type="range" id="slotsRange" min="{{minHumans}}" max="12" step="1" [(ngModel)]="model.slots" name="slots" aria-describedby="slotsHelp">
    </div>
    <span id="slotsHelp" class="help-block col-sm-offset-3">The total number of civilizations in the game (human or ai).</span>
  </div>
  <div class="form-group">
    <label for="humansRange" class="col-sm-3 control-label">Maximum Number of Humans:</label>
    <div class="col-sm-1">
      <p class="form-control-static"><b>{{model.humans}}</b></p>
    </div>
    <div class="col-sm-8">
      <input type="range" id="humansRange" min="{{minHumans}}" max="{{model.slots}}" step="1" [(ngModel)]="model.humans" name="humans" aria-describedby="humansHelp">
    </div>
    <span id="humansHelp" class="help-block col-sm-offset-3">The maximum number of human players in the game.  If the game is started with less than this number, the remaining slots will be filled with AI players.</span>
  </div>
  <div class="form-group">
    <label for="displayName" class="col-sm-3 control-label">Only allow random Civ selection:</label>
    <div class="col-sm-9">
      <div class="checkbox">
        <label>
          <input type="checkbox" [(ngModel)]="model.randomOnly">
        </label>
      </div>
    </div>
  </div>
</div>
<div class="form-group">
  <label for="displayName" class="col-sm-3 control-label">Allow users to join after start:</label>
  <div class="col-sm-9">
    <div class="checkbox">
      <label>
        <input type="checkbox" [(ngModel)]="model.allowJoinAfterStart">
      </label>
    </div>
  </div>
</div>
<div class="form-group">
  <label for="displayName" class="col-sm-3 control-label">Game Password:</label>
  <div class="col-sm-9">
    <input type="password" class="form-control" id="password" [(ngModel)]="model.password" name="password">
  </div>
  <span id="passwordHelp" class="help-block col-sm-offset-3">If you wish for your game to be protected so that only people who know the password can join, set a password in the field above.</span>
</div>
