<div [pydtBusy]="busy" class="container">
  <h1>Create New Game</h1>
  <form class="form-horizontal" (ngSubmit)="onSubmit()" #newGameForm="ngForm">
    <pydt-configure-game [model]="model" [selectedCivs]="[model.player1Civ.leaderKey]"></pydt-configure-game>
    <div class="form-group">
      <label for="selectCiv" class="col-sm-3 control-label">Select Your Civ:</label>
      <pydt-select-civ [curCiv]="model.player1Civ" [leaders]="allLeaders.filterByDlc(model.dlcIdArray())" class="col-sm-9" (selectedCiv)="selectedCivChange($event)"></pydt-select-civ>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9">
        <button type="submit" class="btn btn-primary" [disabled]="!newGameForm.form.valid">Create Game!</button>
      </div>
    </div>
  </form>
</div>

<div bsModal #cannotCreateGameModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="cannotCreateGameModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" [routerLink]="['user/games']">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Cannot Create Game</h4>
      </div>
      <div class="modal-body">
        You can currently only be the creator of a single game at a time.  This is a temporary limitation while we work out the kinks in the system.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" [routerLink]="['/user/games']">OK</button>
      </div>
    </div>
  </div>
</div>

<div bsModal #mustSetEmailModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mustSetEmailModal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" [routerLink]="['user/profile']">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">No Notification Email Set</h4>
      </div>
      <div class="modal-body">
        Creating a game implies more responsibility than simply joining a game - please set your notification email before you create the
        game so we can send you updates about the status of your game.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" [routerLink]="['/user/profile']">OK</button>
      </div>
    </div>
  </div>
</div>