<div [ngBusy]="busy" class="container">
  <h1>Create New Game</h1>
  <form class="form-horizontal" (ngSubmit)="onSubmit()" #newGameForm="ngForm" novalidate="novalidate">
    <pydt-configure-game [model]="model"></pydt-configure-game>
    <div class="form-group">
      <label for="selectCiv" class="col-sm-3 control-label">Select Your Civ:</label>
      <pydt-select-civ [curCiv]="model.player1Civ" class="col-sm-9" (selectedCiv)="selectedCivChange($event)"></pydt-select-civ>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9">
        <button type="submit" class="btn btn-primary" [disabled]="!newGameForm.form.valid">Create Game!</button>
      </div>
    </div>
  </form>
</div>