<div class="container">
  <pydt-game-preview *ngIf="game" [game]="game" (gameUpdated)="this.setGame($event)" [editMode]="true"></pydt-game-preview>
  <tabset *ngIf="game">
    <tab heading="Game Stats" *ngIf="game.gameTurnRangeKey > 1">
      <div class="well">
        <pydt-game-detail-stats [game]="game"></pydt-game-detail-stats>
      </div>
    </tab>
    <tab heading="Game Details" *ngIf="game">
      <div class="well">
        <p *ngIf="game.description"><b>Description:</b> {{game.description}}</p>
        <div class="row">
          <div class="col-md-6">
            <p><b>DLC Enabled:</b> {{dlcEnabled}}</p>
          </div>
          <div class="col-md-6">
            <p><b>Password Protected:</b> {{game.hashedPassword ? 'Yes': 'No'}}</p>
          </div>
          <div class="col-md-6">
            <p><b>Number of Slots:</b> {{game.slots}}</p>
          </div>
          <div class="col-md-6">
            <p><b>Max Human Players:</b> {{game.humans}}</p>
          </div>
          <div class="col-md-6" *ngIf="game.gameSpeed">
            <p><b>Game Speed:</b> {{game | gamespeed}}</p>
          </div>
          <div class="col-md-6">
            <p><b>Map Type:</b> {{game | map}}</p>
          </div>
          <div class="col-md-6">
            <p><b>Allow Users to Join After Start:</b> {{game.allowJoinAfterStart ? 'Yes': 'No'}}</p>
          </div>
          <div class="col-md-6" *ngIf="game.mapSize">
            <p><b>Map Size:</b> {{game | mapsize}}</p>
          </div>
          <div class="col-md-6">
            <p><b>Random Civs Only:</b> {{ game.randomOnly ? 'Yes' : 'No' }}</p>
          </div>
        </div>
        <div class="row" *ngIf="game.createdBySteamId === profile?.steamid">
          <div class="col-xs-12 text-center">
            <button class="btn btn-primary" [routerLink]="['/game', game.gameId, 'edit']">Edit Game Parameters</button>
          </div>
        </div>
      </div>
    </tab>
  </tabset>
  <tabset *ngIf="game?.inProgress && userInGame">
    <tab heading="Play Turn">
      <div class="well">
        <div *ngIf="game.currentPlayerSteamId === profile?.steamid">
          <h3 style="margin-top:0;">It's your turn!</h3>
          <div *ngIf="game.gameTurnRangeKey > 1">
            <p>
              Press the button below to download the save file and play your turn.  You'll need to put the file in the correct location for the game to find it, if you
              want a simpler experience try using our desktop client that you can download from the dropdown in the header bar.  On Windows, the default location for hotseat save files is
              <b>Documents\My Games\Sid Meier's Civilization VI\Saves\Hotseat</b>, and on OSX it's <b>~/Library/Application Support/Sid Meier's Civilization VI/Saves/Hotseat</b>.
            </p>
            <div class="row">
              <div class="col-xs-12 text-center">
                <button class="btn btn-primary" (click)="downloadTurn(game.gameId)">Download Save File</button>
              </div>
            </div>
            <hr />
            <p>Then, upload the file using the button below after you've played your turn!</p>
            <div class="row">
              <div class="col-xs-12 text-center">
                <label class="btn btn-primary btn-file">
                  Select File To Upload...<input type="file" (change)="fileSelected($event, game.gameId)" accept=".Civ6Save" style="display:none;">            
                </label>
              </div>
            </div>
          </div>
          <div *ngIf="game.gameTurnRangeKey === 1">
            <p>Since you created the game, you need to create the initial save file.  Click the button below to start the process:</p>
            <div class="row">
              <div class="col-xs-12 text-center">
                <button type="button" class="btn btn-primary" (click)="uploadFirstTurnModal.show()">Create Save File</button>
              </div>
            </div>
          </div>
        </div>
        <p *ngIf="game.currentPlayerSteamId !== profile?.steamid">It's not your turn :(</p>
      </div>
    </tab>
    <tab heading="Revert Turn" *ngIf="(game.currentPlayerSteamId === profile?.steamid || game.createdBySteamId === profile?.steamid) && game.gameTurnRangeKey > 1">
      <div class="well">
        <p>If you're having issues with the current state of the game, press the button below to revert to the previous turn.</p>
        <div class="row">
          <div class="col-xs-12 text-center">
            <button type="button" class="btn btn-danger" (click)="confirmRevertModal.show()">Revert Turn</button>
          </div>
        </div>
      </div>
    </tab>
    <tab heading="Surrender">
      <div class="well">
        <p>If you no longer wish to play in this game, you can surrender and have an AI player take your place in the game.</p>
        <div class="row">
          <div class="col-xs-12 text-center">
            <button type="button" *ngIf="game.gameTurnRangeKey > 1" class="btn btn-danger" (click)="confirmSurrenderModal.show()">Surrender</button>
            <button type="button" *ngIf="game.gameTurnRangeKey <= 1"class="btn btn-danger" (click)="confirmLeaveModal.show()">Surrender</button>
          </div>
        </div>
      </div>
    </tab>
    <tab heading="Kick User" *ngIf="game.createdBySteamId === profile?.steamid && game.createdBySteamId !== game.currentPlayerSteamId">
      <div class="well">
        <p>
          Since you created the game, you can kick users from the game.  You can only kick a user if they have had 24 hours to play their turn
          and have failed to do so.  Please do not kick users without reason - if complaints are logged against you for kicking players from games
          inappropriately you may be banned from the site!
        </p>
        <div class="row">
          <div class="col-xs-12 text-center">
            <button type="button" class="btn btn-danger" (click)="confirmKickUserModal.show()">Kick User</button>
          </div>
        </div>
      </div>
    </tab>
  </tabset>
  <div *ngIf="game && availableCivs.length">
    <div class="panel panel-default">
      <div class="panel-heading">Join Game</div>
      <div class="panel-body">
        <div *ngIf="userInGame">
          <p>
            Send your friends a link to this page to join your game!
          </p>
          <div class="input-group">
            <input type="text" class="form-control" [value]="pageUrl" readonly>
            <span class="input-group-btn">
              <button class="btn btn-default" type="button" ngxClipboard [cbContent]="pageUrl">Copy Game URL to Clipboard</button>
            </span>
          </div>
        </div>
        <p *ngIf="!profile">
          Please use the "Sign in through STEAM" button above to login, and then you can join this game!
        </p>
        <div *ngIf="!userInGame && profile">
          <div *ngIf="!tooManyHumans">
            <p>If you want to join this game, select a civ and then press the button below!</p>
            <pydt-select-civ [leaders]="availableCivs" [randomOnly]="game.randomOnly" [curCiv]="playerCiv" (selectedCiv)="playerCiv = $event"></pydt-select-civ>
            <div class="form-group" *ngIf="game.hashedPassword">
              <label for="password">The creator of the game has set a password:</label>
              <input type="password" class="form-control" id="password" placeholder="Game Password" [(ngModel)]="joinGamePassword" name="password">
            </div>
            <div class="row">
              <div class="col-xs-12 text-center">
                <button type="button" class="btn btn-primary" (click)="startJoinGame()">Join Game!</button>
              </div>
            </div>
          </div>
          <div *ngIf="tooManyHumans">
            <p>There are already too many players in this game, sorry!</p>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default" *ngIf="userInGame">
      <div class="panel-heading">Change Your Civ</div>
      <div class="panel-body">
        <p>If you want to change your civ before the game starts, use the selector below...</p>
        <pydt-select-civ [leaders]="availableCivs" [randomOnly]="game.randomOnly" [curCiv]="newCiv" (selectedCiv)="newCiv = $event"></pydt-select-civ>
        <div class="row">
          <div class="col-xs-12 text-center">
            <button type="button" class="btn btn-primary" [disabled]="playerCiv == newCiv" (click)="changeCiv()">Change Civ!</button>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default" *ngIf="userInGame && game.createdBySteamId !== profile?.steamid">
      <div class="panel-heading">Leave Game</div>
      <div class="panel-body">
        <p>If you want to leave the game before it starts, click the button below!</p>
        <div class="row">
          <div class="col-xs-12 text-center">
            <button type="button" class="btn btn-danger" (click)="confirmLeaveModal.show()">Leave Game</button>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="game.createdBySteamId === profile?.steamid" class="panel panel-default">
      <div class="panel-heading">Start Game</div>
      <div class="panel-body">
        <div *ngIf="game.players.length < 2">
          <p>You can't start the game until you have at least 2 human players registered.</p>
        </div>
        <div *ngIf="game.players.length > 1">
          <p>When you're ready to start the game, click the button below!</p>
          <div class="row">
            <div class="col-xs-12 text-center">
              <button type="button" class="btn btn-primary" (click)="confirmStartGameModal.show()">Start Game!</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="game && game.gameTurnRangeKey <= 1 && game.createdBySteamId === profile?.steamid" class="panel panel-default">
    <div class="panel-heading">Delete Game</div>
    <div class="panel-body">
      <p>To delete this game before it starts, click the button below.</p>
      <div class="row">
        <div class="col-xs-12 text-center">
          <button type="button" class="btn btn-danger" (click)="confirmDeleteModal.show()">Delete Game</button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="game">
    <div class="panel panel-default">
      <div class="panel-heading">Smack Talk</div>
      <div class="panel-body">
        <div id='discourse-comments'></div>
      </div>
    </div>
  </div>
</div>

<div bsModal #confirmRevertModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="confirmRevertModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="confirmRevertModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Are you sure?</h4>
      </div>
      <div class="modal-body">
        Do you really want to revert to the previous turn in {{game?.displayName}}?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="confirmRevertModal.hide()">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="revert()">Revert!</button>
      </div>
    </div>
  </div>
</div>

<div bsModal #mustHaveEmailSetToJoinModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mustHaveEmailSetToJoinModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="mustHaveEmailSetToJoinModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Please set your email address first!</h4>
      </div>
      <div class="modal-body">
        Before you join a game, please set your email address to receive notifications in your profile.  Otherwise, it makes it harder to guarantee
        that you'll know it's your turn, and games go a lot slower!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" [routerLink]="['/user/profile']">Go to Your Profile</button>
      </div>
    </div>
  </div>
</div>

<div bsModal #confirmSurrenderModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="confirmSurrenderModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="confirmSurrenderModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Are you sure?</h4>
      </div>
      <div class="modal-body">
        Do you really want to surrender from {{game?.displayName}}?  <b>THIS ACTION IS IRREVERSIBLE!</b>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="confirmSurrenderModal.hide()">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="surrender()">Surrender!</button>
      </div>
    </div>
  </div>
</div>

<div bsModal #confirmKickUserModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="confirmKickUserModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="confirmKickUserModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Are you sure?</h4>
      </div>
      <div class="modal-body">
        Are you sure you want to kick the current player from {{game?.displayName}}?  <b>THIS ACTION IS IRREVERSIBLE!</b>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="confirmKickUserModal.hide()">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="kickPlayer()">Kick Player!</button>
      </div>
    </div>
  </div>
</div>

<div bsModal #confirmDeleteModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="confirmDeleteModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Are you sure?</h4>
      </div>
      <div class="modal-body">
        Do you really want to delete {{game?.displayName}}?  <b>THIS ACTION IS IRREVERSIBLE!</b>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="confirmDeleteModal.hide()">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="delete()">Delete Game!</button>
      </div>
    </div>
  </div>
</div>

<div bsModal #confirmLeaveModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="confirmLeaveModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="confirmLeaveModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Are you sure?</h4>
      </div>
      <div class="modal-body">
        Do you really want to leave {{game?.displayName}}?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="confirmLeaveModal.hide()">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="leave()">Leave Game!</button>
      </div>
    </div>
  </div>
</div>

<div bsModal #confirmStartGameModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="confirmStartGameLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="confirmStartGameModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Are you sure?</h4>
      </div>
      <div class="modal-body">
        Are you sure you're ready to start this game with <b>{{game?.players.length}}</b> human players?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="confirmStartGameModal.hide()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="confirmStartGameModal.hide(); startGame();">Start the Game!</button>
      </div>
    </div>
  </div>
</div>

<div bsModal #confirmDlcModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="confirmDlcModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="confirmDlcModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">DLC Validation</h4>
      </div>
      <div class="modal-body">
        <p>This game requires the following DLC:</p>
        <p><b>{{dlcEnabled}}</b></p>
        <p><span class="text-danger">If you don't have all of these DLCs you won't be able to play in this game!</span>  If you've got all the DLC, go ahead and press the Join Game button below.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="confirmDlcModal.hide()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="confirmDlcModal.hide(); finishJoinGame();">Join Game!</button>
      </div>
    </div>
  </div>
</div>

<div bsModal #uploadFirstTurnModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="uploadFirstTurnModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="uploadFirstTurnModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Start Game</h4>
      </div>
      <div class="modal-body">
        <p>
          Since you're the first player, you need to create the initial game save file!  First, make sure that you have the appropriate DLC
          enabled for the game.  You can do this through the Mods dialog on the Multiplayer Game Setup screen.
          <span *ngIf="game?.dlc.length">Ensure that <b>ONLY</b> the following DLC is enabled: <b>{{dlcEnabled}}</b>.</span>
          <span *ngIf="!game?.dlc.length">Ensure that <b>NO DLC</b> is enabled!</span>
        </p>
        <p>
          Now start Civ 6, go to Multiplayer / Hotseat, and configure the game.
          <span *ngIf="game?.gameSpeed">
            Set the following settings:
            <ul>
              <li><b>Game Speed:</b> {{game | gamespeed}}</li>
              <li *ngIf="game.mapFile"><b>Map Type:</b> {{game | map}}</li>
              <li><b>Map Size:</b> {{game | mapsize}}</li>
            </ul>
          </span>
          When you're ready, click "Confirm Settings", make sure that you have <b>EXACTLY {{game?.slots}}</b>
          slots active, and add the following human players, starting at the first slot:
        </p>
        <pydt-display-civ *ngFor="let civDef of civDefs" [civ]="civDef"></pydt-display-civ>
        <p class="text-danger"><b>If you don't set up the game exactly as expected, you won't be able to upload it to PYDT!</b></p>
        <p>
          Once you've created the game and played your first turn, save it and use the button below to upload it and begin the game!
          By default, the save file will be located at <b>Documents\My Games\Sid Meier's Civilization VI\Saves\Hotseat</b> on Windows,
          and <b>~/Library/Application Support/Sid Meier's Civilization VI/Saves/Hotseat</b> on OSX.  Happy Civving!
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="uploadFirstTurnModal.hide()">Cancel</button>
        <label class="btn btn-primary btn-file">
          Select File To Upload...<input type="file" (change)="fileSelected($event, game.gameId); uploadFirstTurnModal.hide();" accept=".Civ6Save" style="display:none;">            
        </label>
      </div>
    </div>
  </div>
</div>