<div [ngBusy]="busy" class="container">
  <pydt-game-preview *ngIf="game" [game]="game"></pydt-game-preview>
  <div class="panel panel-default" *ngIf="game">
    <div class="panel-heading">Game Details</div>
    <div class="panel-body">
      <p *ngIf="game.description"><b>Description:</b> {{game.description}}</p>
      <div class="row">
        <div class="col-md-6">
          <p><b>Number of Slots:</b> {{game.slots}}</p>
        </div>
        <div class="col-md-6">
          <p><b>Max Human Players:</b> {{game.humans}}</p>
        </div>
      </div>
      <div class="row" *ngIf="game.createdBySteamId === profile?.steamid">
        <div class="col-xs-12 text-center">
          <button class="btn btn-primary" [routerLink]="['/game', game.gameId, 'edit']">Edit Game Parameters</button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="game?.inProgress && userInGame">
    <div class="panel panel-default">
      <div class="panel-heading">Play Turn</div>
      <div class="panel-body">
        <div *ngIf="game.currentPlayerSteamId === profile?.steamid">
          <h3 style="margin-top:0;">It's your turn!</h3>
          <div *ngIf="game.gameTurnRangeKey > 1">
            <p>Press the button below to download the save file and play your turn...</p>
            <div class="row">
              <div class="col-xs-12 text-center">
                <button class="btn btn-primary" (click)="downloadTurn(game.gameId)">Download Save File</button>
              </div>
            </div>
            <hr />
            <p>Then, upload the file using the button below after you've played your turn!</p>
            <div class="row">
              <div class="col-xs-12 text-center">
                <label class="btn btn-primary btn-file">
                  Select File To Upload...<input type="file" (change)="fileSelected($event, game.gameId)" accept=".Civ6Save" style="display:none;">            
                </label>
              </div>
            </div>
          </div>
          <div *ngIf="game.gameTurnRangeKey === 1">
            <p>Since you created the game, you need to create the initial save file.  Click the button below to start the process:</p>
            <div class="row">
              <div class="col-xs-12 text-center">
                <button type="button" class="btn btn-primary" (click)="uploadFirstTurnModal.show()">Create Save File</button>
              </div>
            </div>
          </div>
        </div>
        <p *ngIf="game.currentPlayerSteamId !== profile?.steamid">It's not your turn :(</p>
      </div>
    </div>
    <div class="panel panel-default" *ngIf="(game.currentPlayerSteamId === profile?.steamid || game.createdBySteamId === profile?.steamid) && game.gameTurnRangeKey > 1">
      <div class="panel-heading">Revert Turn</div>
      <div class="panel-body">
        <p>If you're having issues with the current state of the game, press the button below to revert to the previous turn.</p>
        <div class="row">
          <div class="col-xs-12 text-center">
            <button type="button" class="btn btn-danger" (click)="confirmRevertModal.show()">Revert Turn</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="game && !game.inProgress">
    <div class="panel panel-default">
      <div class="panel-heading">Join Game</div>
      <div class="panel-body">
        <div *ngIf="userInGame">
          <p>
            Send your friends a link to this page to join your game!
          </p>
          <div class="input-group">
            <input type="text" class="form-control" [value]="pageUrl" readonly>
            <span class="input-group-btn">
              <button class="btn btn-default" type="button" ngIIclipboard [cbContent]="pageUrl">Copy Game URL to Clipboard</button>
            </span>
          </div>
        </div>
        <p *ngIf="!profile">
          Please use the "Sign in through STEAM" button above to login, and then you can join this game!
        </p>
        <div *ngIf="!userInGame && profile">
          <div *ngIf="game.players.length < game.humans">
            <p>If you want to join this game, select a civ and then press the button below!</p>
            <pydt-select-civ [leaders]="unpickedCivs" [curCiv]="playerCiv" (selectedCiv)="playerCiv = $event"></pydt-select-civ>
            <div class="row">
              <div class="col-xs-12 text-center">
                <button type="button" class="btn btn-primary" (click)="joinGame()">Join Game!</button>
              </div>
            </div>
          </div>
          <div *ngIf="game.players.length >= game.humans">
            <p>There are already too many players in this game, sorry!</p>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default" *ngIf="userInGame">
      <div class="panel-heading">Change Your Civ</div>
      <div class="panel-body">
        <p>If you want to change your civ before the game starts, use the selector below...</p>
        <pydt-select-civ [leaders]="unpickedCivs" [curCiv]="newCiv" (selectedCiv)="newCiv = $event"></pydt-select-civ>
        <div class="row">
          <div class="col-xs-12 text-center">
            <button type="button" class="btn btn-primary" [disabled]="playerCiv == newCiv" (click)="changeCiv()">Change Civ!</button>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="game.createdBySteamId === profile?.steamid" class="panel panel-default">
      <div class="panel-heading">Start Game</div>
      <div class="panel-body">
        <div *ngIf="game.players.length < 2">
          <p>You can't start the game until you have at least 2 human players registered.</p>
        </div>
        <div *ngIf="game.players.length > 1">
          <p>When you're ready to start the game, click the button below!</p>
          <div class="row">
            <div class="col-xs-12 text-center">
              <button type="button" class="btn btn-primary" (click)="confirmStartGame.show()">Start Game!</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="game">
    <div class="panel panel-default">
      <div class="panel-heading">Smack Talk</div>
      <div class="panel-body">
        <div id='discourse-comments'></div>
      </div>
    </div>
  </div>
</div>

<div bsModal #confirmRevertModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="confirmRevertModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="confirmRevertModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Are you sure?</h4>
      </div>
      <div class="modal-body">
        Do you really want to revert to the previous turn in {{game?.displayName}}?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="confirmRevertModal.hide()">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="revert()">Revert!</button>
      </div>
    </div>
  </div>
</div>

<div bsModal #confirmStartGame="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="confirmStartGameLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="confirmStartGame.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Are you sure?</h4>
      </div>
      <div class="modal-body">
        Are you sure you're ready to start this game with <b>{{game?.players.length}}</b> human players?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="confirmStartGame.hide()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="confirmStartGame.hide(); startGame();">Start the Game!</button>
      </div>
    </div>
  </div>
</div>

<div bsModal #uploadFirstTurnModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="uploadFirstTurnModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="uploadFirstTurnModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Start Game</h4>
      </div>
      <div class="modal-body">
        <p>
          Since you're the first player, you need to create the initial game save file.  Start Civ 6,
          go to Multiplayer / Hotseat, configure the game however you wish, but make sure you choose
          a map size large enough to support <b>{{game?.slots}}</b> slots (both human and AI players).
          When you're ready, click "Confirm Settings", make sure that you have <b>EXACTLY {{game?.slots}}</b>
          slots active, and add the following human players, starting at the first slot:
        </p>
        <pydt-display-civ *ngFor="let civDef of civDefs" [civ]="civDef"></pydt-display-civ>
        <p class="text-danger"><b>If you don't set up the game exactly as expected, you won't be able to upload it to PYDT!</b></p>
        <p>Once you've created the game and played your first turn, save it and use the button below to upload it and begin the game!  Happy Civving!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="uploadFirstTurnModal.hide()">Cancel</button>
        <label class="btn btn-primary btn-file">
          Select File To Upload...<input type="file" (change)="fileSelected($event, game.gameId); uploadFirstTurnModal.hide();" accept=".Civ6Save" style="display:none;">            
        </label>
      </div>
    </div>
  </div>
</div>