<div class="container">
  <div *ngIf="games">
    <h1>Open Games</h1>
    <p>
      This is a list of all games that are currently forming and available to join.  <span *ngIf="profile">If you don't see one that you want
      to join, use the button below to create one yourself!</span>
    </p>
    <div class="row" *ngIf="profile">
      <div class="col-xs-12 text-center">
        <button class="btn btn-primary" [routerLink]="['/game/create']">Create a New Game!</button> 
      </div>
    </div>
    <hr />
    <h1 *ngIf="games.length == 0">No games found.</h1>
    <div *ngFor="let game of games">
      <div class="well"> 
        <pydt-game-preview [game]="game"></pydt-game-preview>
        <div class="row">
          <div class="col-xs-12 text-center">
            <button type="button" class="btn btn-primary" [routerLink]="['/game', game.gameId]">View Game Details</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>