<span *ngIf="game.hashedPassword" tooltip="This game is password protected." tooltipPlacement="left" class="glyphicon glyphicon-lock pull-right"></span>
<h3 [class.yourTurn]="game.inProgress && activeProfile?.steamid === game.currentPlayerSteamId">
  {{game.displayName}}
  <span *ngIf="!game.inProgress">(Not Started)</span>
  <span *ngIf="game.inProgress && activeProfile?.steamid === game.currentPlayerSteamId">(Your Turn)</span> 
</h3>
<div class="row" style="padding-left:13px;padding-right:13px;">
  <div *ngFor="let player of gamePlayers; let i = index;" class="col-{{game.slots}}-slots">
    <a href="javascript:void(0)" (click)="showUserDetail(player.steamId)" *ngIf="player" class="thumbnail" [class.currentTurn]="game.currentPlayerSteamId === player.steamId" [tooltipHtml]="getTooltip(player, civDefs[i])">
      <img #profileImg [src]="getProfileImg(player)" style="height:64px;" on-mouseover="profileImg.src = '/img/civs/' + (civDefs[i]?.getImageFileName() || 'RANDOM_RANDOM.png');" on-mouseleave="profileImg.src = getProfileImg(player);">
    </a>
    <a href="javascript:void(0)" *ngIf="!player" class="thumbnail" tooltip="AI">
      <img [src]="getProfileImg()" style="height: 64px;">
    </a>
  </div>
</div>

<div bsModal #playerDetailModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="playerDetailModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="playerDetailModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">User Info</h4>
      </div>
      <div class="modal-body" style="min-height:200px;">
        <h4 *ngIf="!user">Loading...</h4>
        <pydt-user-info *ngIf="user" [user]="user"></pydt-user-info>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="playerDetailModal.hide()">OK</button>
      </div>
    </div>
  </div>
</div>