<span *ngIf="!canEditTurnOrder && !!game.hashedPassword" tooltip="This game is password protected." placement="left" class="glyphicon glyphicon-lock pull-right"></span>
<button class="btn btn-sm btn-default pull-right" *ngIf="canEditTurnOrder && !editingTurnOrder" type="button" (click)="editingTurnOrder = true">Edit Turn Order</button>
<button class="btn btn-sm btn-primary pull-right" *ngIf="editingTurnOrder" type="button" (click)="saveTurnOrder()">Save Turn Order</button>
<h3 [class.yourTurn]="game.inProgress && activeProfile?.steamid === game.currentPlayerSteamId">
  <img src="/img/game_{{ game.gameType }}.png" style="height:25px;padding-right: 10px;position:relative;top:-3px;" />
  {{game.displayName}}
  <span *ngIf="!game.inProgress">(Not Started)</span>
  <span *ngIf="game.inProgress && activeProfile?.steamid === game.currentPlayerSteamId">(Your Turn)</span> 
</h3>
<div class="row" style="padding-left:13px;padding-right:13px;">
  <ng-container *ngIf="editingTurnOrder">
    <div class="col-{{game.slots}}-slots">
      <div class="thumbnail">
        <img #profileImg [src]="getProfileImg(gamePlayers[0])" style="height:64px;">
      </div>
    </div>
    <div dragula="players" [(dragulaModel)]="reorderablePlayers">
      <div *ngFor="let player of reorderablePlayers" class="col-{{game.slots}}-slots">
        <div class="thumbnail">
          <img #profileImg [src]="getProfileImg(player)" style="height:64px;">
        </div>
      </div>
    </div>
    <div *ngFor="let player of aiPlayers" class="col-{{game.slots}}-slots">
      <div class="thumbnail">
        <img [src]="getProfileImg()" style="height: 64px;">
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="!editingTurnOrder">
    <div *ngFor="let player of gamePlayers; let i = index;" class="col-{{game.slots}}-slots">
      <ng-template #tooltipTemplate><span [innerHtml]="getTooltip(player, civDefs[i])"></span></ng-template>
      <a href="javascript:void(0)" (click)="showUserDetail(player.steamId)" *ngIf="player" class="thumbnail" [class.currentTurn]="game.currentPlayerSteamId === player.steamId" [tooltip]="tooltipTemplate">
          <img #profileImg [src]="getProfileImg(player)" style="height:64px;" on-mouseover="profileImg.src = '/img/civs/' + (civDefs[i]?.getImageFileName() || 'RANDOM_RANDOM.png');" on-mouseleave="profileImg.src = getProfileImg(player);">
      </a>
      <a href="javascript:void(0)" *ngIf="!player" class="thumbnail" tooltip="AI">
        <img [src]="getProfileImg()" style="height: 64px;">
      </a>
    </div>
  </ng-container>
</div>
<p *ngIf="editingTurnOrder" style="padding-bottom:20px;text-align: center;">Drag and drop the player icons to edit the turn order.  The game creator must always be first and can't be moved, and all AI players must always be last.</p>

<div bsModal #playerDetailModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="playerDetailModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="playerDetailModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">User Info</h4>
      </div>
      <div class="modal-body" style="min-height:200px;">
        <h4 *ngIf="!user">Loading...</h4>
        <pydt-user-info *ngIf="user" [user]="user"></pydt-user-info>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="playerDetailModal.hide()">OK</button>
      </div>
    </div>
  </div>
</div>