h3 {
  margin-top: 0;
}

.currentTurn {
  background-color: #ccffcc;
}

.showOnHover {
  display: none;

  &:hover {
    display: block;
  }
}

.showOnNoHover:hover {
  display: none;
}

.glyphicon-lock {
  font-size:1.5em;
}

.yourTurn {
  font-weight: bold;
  color:#f00;
}