@if (!canEditTurnOrder && !!game.hashedPassword) {
  <span
    tooltip="This game is password protected."
    placement="left"
    class="fa fa-lock float-end ml"
    style="font-size: 1.4em"
  ></span>
}
@if (canEditTurnOrder && !editingTurnOrder) {
  <button class="btn btn-sm btn-secondary float-end ml" type="button" (click)="startEditingTurnOrder()">
    Edit Turn Order
  </button>
}
@if (editingTurnOrder) {
  <button class="btn btn-sm btn-primary float-end ml" type="button" (click)="saveTurnOrder()">Save Turn Order</button>
}
@if (editingTurnOrder) {
  <button class="btn btn-sm btn-secondary float-end ml" type="button" (click)="sortViaPlayTimes()">
    Sort via Play Times
  </button>
}
@if (showTurnInfo && game.gameTurnRangeKey > 1) {
  <p class="float-end ml">Round {{ game.round }} - {{ lastTurnText$ | async }}</p>
}
<h3 [class.yourTurn]="game.inProgress && activeProfile?.steamid === game.currentPlayerSteamId">
  <img
    src="/img/game_{{ game.gameType }}.png"
    style="height: 25px; padding-right: 10px; position: relative; top: -3px"
    [tooltip]="civGame?.displayName"
  />
  {{ gameTitle }}
</h3>
<div class="row" style="padding-left: 13px; padding-right: 13px">
  @if (editingTurnOrder) {
    <div class="col-{{ game.slots }}-slots">
      <pydt-player-avatar
        [game]="game"
        [players]="gamePlayers"
        [gamePlayerProfiles]="gamePlayerProfiles"
        [civDefs]="civDefs"
        [civGame]="civGame"
        [index]="0"
        [thumbnailOnly]="true"
        size="BIG"
      ></pydt-player-avatar>
    </div>
    <div
      dragula="players"
      [dragulaModel]="reorderableIndexes$ | async"
      (dragulaModelChange)="reorderableIndexes$.next($event)"
      style="display: contents"
    >
      @for (index of reorderableIndexes$ | async; track index) {
        <div class="col-{{ game.slots }}-slots">
          <pydt-player-avatar
            [game]="game"
            [players]="gamePlayers"
            [gamePlayerProfiles]="gamePlayerProfiles"
            [civDefs]="civDefs"
            [civGame]="civGame"
            [index]="index"
            [thumbnailOnly]="true"
            [thumbnailOnlyDragMode]="true"
            size="BIG"
          ></pydt-player-avatar>
        </div>
      }
    </div>
    @for (index of emptyIndexes; track index) {
      <div class="col-{{ game.slots }}-slots">
        <pydt-player-avatar
          [game]="game"
          [players]="gamePlayers"
          [gamePlayerProfiles]="gamePlayerProfiles"
          [civDefs]="civDefs"
          [civGame]="civGame"
          [index]="index"
          [thumbnailOnly]="true"
          size="BIG"
        ></pydt-player-avatar>
      </div>
    }
  }
  @if (!editingTurnOrder) {
    @for (player of gamePlayers; track player?.steamId ?? $index; let i = $index) {
      <div class="col-{{ game.slots }}-slots">
        <pydt-player-avatar
          [game]="game"
          [players]="gamePlayers"
          [gamePlayerProfiles]="gamePlayerProfiles"
          [civDefs]="civDefs"
          [civGame]="civGame"
          [index]="i"
          size="BIG"
          (click)="showUserDetail($event.steamId)"
        ></pydt-player-avatar>
      </div>
    }
  }
</div>
@if (editingTurnOrder) {
  <p style="padding-bottom: 20px; text-align: center">
    Drag and drop the player icons to edit the turn order. The game creator must always be first and can't be moved, and
    all AI players must always be last.
  </p>
  <h4 style="text-align: center">Player Turn Times (in browser local time):</h4>
  <table class="table table-sm table-striped">
    <thead>
      <tr role="row">
        <th></th>
        @for (hour of hours; track hour) {
          <th>
            {{ hour }}
          </th>
        }
      </tr>
    </thead>
    <tbody>
      @for (user of playerUsers$ | async; track user?.steamId) {
        <tr>
          <th>{{ user.displayName }}</th>
          @for (hour of userTurnTimesLocal(user); track $index) {
            <td [ngClass]="{ maxHour: hour.isMax }" [attr.colspan]="hour.timezoneHour ? 24 : undefined">
              {{ hour.turns }}
              {{
                hour.timezoneHour ? "No turn data, using noon in profile timezone (" + hour.timezoneHour + ":00)" : ""
              }}
            </td>
          }
        </tr>
      }
    </tbody>
  </table>
}

<div
  bsModal
  #playerDetailModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="playerDetailModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">User Info</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="playerDetailModal.hide()"></button>
      </div>
      <div class="modal-body" style="min-height: 200px">
        @if (!user) {
          <h4>Loading...</h4>
        }
        @if (user) {
          <pydt-user-info [user]="user"></pydt-user-info>
          <div class="row" style="margin-top: 8px">
            <div class="col-sm-12">
              @if (canEdit) {
                <pydt-game-detail-change-civ
                  [game]="game"
                  [civGame]="civGame"
                  [steamId]="user?.steamId"
                  [playerCiv]="userCiv"
                  [playerCivilization]="userCivilization"
                  [availableCivs]="availableCivs"
                  (setGame)="gameUpdated.emit($event)"
                ></pydt-game-detail-change-civ>
              }
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              @if (canEdit && activeProfile?.steamid !== user?.steamId) {
                <pydt-game-detail-leave
                  [game]="game"
                  [steamId]="user?.steamId"
                  (setGame)="gameUpdated.emit($event)"
                ></pydt-game-detail-leave>
              }
            </div>
          </div>
        }
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="playerDetailModal.hide()">OK</button>
      </div>
    </div>
  </div>
</div>
