<div class="row">
  <div class="col-sm-4 text-center">
    <a href="https://steamcommunity.com/profiles/{{ user.steamId }}" target="_steamprofile" class="avatar-tile">
      <img [src]="profile?.avatarfull" />
    </a>
    <a
      href="https://steamcommunity.com/profiles/{{ user.steamId }}"
      target="_steamprofile"
      class="btn btn-sm btn-secondary"
      >Open Steam Profile</a
    >
  </div>
  <div class="col-sm-8">
    <h1 style="margin-top: 0">
      {{ user?.displayName }}
      @if (user.vacationMode) {
        (On Vacation!)
      }
    </h1>
    @if (user.timezone) {
      <p><b>Time Zone:</b> {{ user.timezone }}</p>
    }
    @if (user.comments) {
      <p><b>Comments:</b> {{ user.comments }}</p>
    }
    @if (stats.turnsPlayed) {
      <div>
        <p><b>Active Games:</b> {{ (user.activeGameIds || []).length }}</p>
        <hr />
        <select class="form-control" name="timezone" [(ngModel)]="gameTypeId" style="margin-bottom: 12px">
          @for (game of allCivGames; track game) {
            <option [ngValue]="game.id">{{ game.displayName }}</option>
          }
        </select>
        <pydt-turn-stats [turnData]="stats" [displayCharts]="false" [factWidth]="12"></pydt-turn-stats>
      </div>
    }
  </div>
  @if (stats.turnsPlayed) {
    <div class="col-sm-12">
      <hr />
      <pydt-turn-stats [turnData]="stats" [displayFacts]="false"></pydt-turn-stats>
    </div>
  }
</div>
