<div [pydtBusy]="busy">
  <!-- Static navbar -->
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" (click)="isCollapsed = !isCollapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" [routerLink]="['']"><img src="/img/pydt_large.png" style="height:45px;margin-top:-12px;"></a>
      </div>
      <div id="navbar" class="navbar-collapse" [collapse]="isCollapsed">
        <ul class="nav navbar-nav">
          <li [routerLinkActive]="['active']"><a [routerLink]="['forum']">Forum</a></li>
          <li id="download-clients" dropdown>
            <a href="javascript:void(0)" dropdownToggle>Download Client <span class="caret"></span></a>
            <ul class="dropdown-menu" dropdownMenu aria-labelledby="download-clients">
              <li><a href="javascript:void(0)" (click)="codesignModal.show()">Windows</a></li>
              <li><a href="http://updates.playyourdamnturn.com/download/osx">Mac OS X</a></li>
            </ul>
          </li>
          <li [routerLinkActive]="['active']"><a [routerLink]="['game/listOpen']">Open Games</a></li>
          <li *ngIf="!isLoggedIn" [routerLinkActive]="['active']"><a href="javascript:void(0)" (click)="redirectToLogin()" style="padding-bottom:0;padding-top:12px;"><img src="https://steamcommunity-a.akamaihd.net/public/images/signinthroughsteam/sits_01.png" /></a></li>
          <li *ngIf="isLoggedIn" [routerLinkActive]="['active']"><a [routerLink]="['user/profile']">Your Profile</a></li>
          <li *ngIf="isLoggedIn" [routerLinkActive]="['active']"><a [routerLink]="['user/games']">Your Games</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
  <router-outlet></router-outlet>
  <div style="padding:15px"></div>
  <footer class="footer">
    <div class="container">
      <p class="text-muted" style="margin-top:20px;">Copyright {{copyrightDate}} <a href="mailto:mike@playyourdamnturn.com">playyourdamnturn.com</a>.</p>
    </div>
  </footer>
</div>

<div bsModal #errorModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="errorModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Error</h4>
      </div>
      <div class="modal-body">
        <p>Sorry, we ran into an error.<p>
        <p class="text-danger" *ngIf="errorModalMessage">Error Message: {{errorModalMessage}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="errorModal.hide()">Close</button>
      </div>
    </div>
  </div>
</div>

<div bsModal #codesignModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="codesignModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="codesignModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Windows Codesigning</h4>
      </div>
      <div class="modal-body">
        <p>
          We're currently working on getting a codesigning certificate for the Windows build.  Until we get the certificate, Windows will likely alert
          you that the software is coming from an untrusted source when you try to install the client.  I can understand if you don't want to install
          the client because of this, and hopefully we'll have the cert soon.
        <p>
        <p>
          If you still want to download the client, click the button below to do so.  Thanks for your understanding!
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="codesignModal.hide()">Close</button>
        <a class="btn btn-primary" href="http://updates.playyourdamnturn.com/download/win32">Download Windows Client</a>
      </div>
    </div>
  </div>
</div>