<div class="panel panel-default">
  <div class="panel-heading">Change Your Civ</div>
  <div class="panel-body">
    <p>If you want to change your civ before the game starts, use the selector below...</p>
    <pydt-select-civ
      [leaders]="availableCivs"
      [randomOnly]="game.randomOnly"
      [curCiv]="newCiv"
      (selectedCiv)="newCiv = $event"
    ></pydt-select-civ>
    <div class="row">
      <div class="col-xs-12 text-center">
        <button type="button" class="btn btn-primary" [disabled]="playerCiv === newCiv" (click)="changeCiv()">
          Change Civ!
        </button>
      </div>
    </div>
  </div>
</div>
