<div class="row">
  <div class="col-sm-12">
    <p>Since you created the game, you're the admin, and have some special powers!</p>
  </div>
</div>
<ng-container *ngIf="game.createdBySteamId !== game.currentPlayerSteamId">
  <div class="row">
    <div class="col-sm-12">
      <h4>Kick Current User</h4>
      <p>
        You can only kick a user if they have had 24 hours to play their turn and have failed to do so. Please do not
        kick users without reason - if complaints are logged against you for kicking players from games inappropriately
        you may be banned from the site!
      </p>
    </div>
    <ng-container *ngIf="substituteUsers?.length">
      <div class="col-sm-12">
        <p>
          Users with more than 500 turns played can register to be substituted in to games when players leave. If this
          game is still competitive, you can substitute in another player to take over for the player you're removing.
        </p>
      </div>
      <div class="form-group">
        <div class="col-sm-12">
          <div class="checkbox">
            <label>
              <input
                type="checkbox"
                style="top: -5px"
                [checked]="!!userToSubstitute"
                (click)="userToSubstitute = userToSubstitute ? null : randomizeUserToSubstitute()"
              />
              Do you want to substitute another user into this slot?
            </label>
          </div>
        </div>
      </div>
      <div class="form-group" *ngIf="userToSubstitute">
        <label for="description" class="col-sm-3 control-label">User to Substitute:</label>
        <div class="col-sm-9">
          <select class="form-control" [(ngModel)]="userToSubstitute">
            <option *ngFor="let user of substituteUsers" [ngValue]="user">
              {{ user.displayName }}
            </option>
          </select>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="row" style="margin-top: 20px">
    <div class="col-xs-12 text-center">
      <button type="button" class="btn btn-danger" (click)="confirmKickUserModal.show()">Kick User</button>
    </div>
  </div>
</ng-container>
<div class="row">
  <div class="col-sm-12">
    <h4>Reset Game State on Next Upload</h4>
    <p>
      This option is mostly for players who switch back and forth between PYDT and normal online play. If your game
      saves have got ahead of where PYDT thinks the game is, press the button below to allow the next turn upload to
      reset the state of the game. If you're having general turn issues it's probably better <strong>NOT</strong> to use
      this button and ask for help in the Game Support area of the forum.
    </p>
  </div>
</div>
<div class="row" style="margin-top: 20px" *ngIf="!game.resetGameStateOnNextUpload">
  <div class="col-xs-12 text-center">
    <button type="button" class="btn btn-default" (click)="resetGameStateOnNextUpload()">
      Enable Game State Reset
    </button>
  </div>
</div>
<div class="row" style="margin-top: 20px" *ngIf="!!game.resetGameStateOnNextUpload">
  <div class="col-xs-12 text-center">
    <h4><strong>Game State Reset Enabled!</strong></h4>
  </div>
</div>

<div
  bsModal
  #confirmKickUserModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="confirmKickUserModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="confirmKickUserModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Are you sure?</h4>
      </div>
      <div class="modal-body">
        Are you sure you want to kick the current player from {{ game?.displayName }}?
        <b>THIS ACTION IS IRREVERSIBLE!</b>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="confirmKickUserModal.hide()">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="kickPlayer()">Kick Player!</button>
      </div>
    </div>
  </div>
</div>
