<h1 *ngIf="!games">Loading...</h1>
<div *ngIf="games">
  <h1 *ngIf="games.length == 0">No games found.  <a href="#" (click)="createGame()">Create one?</a></h1>
  <div *ngFor="let game of games">
    <h1>{{game.displayName}}</h1>
    <ul>
      <template ngFor let-steamId [ngForOf]=game.playerSteamIds>
        <li *ngIf="gamePlayerProfiles[steamId]"><img [src]="gamePlayerProfiles[steamId].avatarmedium"></li>
      </template>
    </ul>
    <div *ngIf="game.inProgress">
      <div *ngIf="game.currentPlayerSteamId === profile.id">
        <h2>It's your turn!</h2>
      </div>
      <h2 *ngIf="game.currentPlayerSteamId === profile.id">It's not your turn :(</h2>
    </div>
    <div *ngIf="!game.inProgress">
      <h2>Game not started :(</h2>
    </div>
  </div>
</div>
