<div class="jumbotron" style="background: url(img/pydt_home_bg.jpg);no-repeat fixed center;background-size: cover;margin-top:-20px;">
  <div class="container">
    <div class="col-xs-4">
      <img src="/img/pydt_large.png" class="img-responsive" style="margin-left:-12%;">
    </div>
    <div class="col-xs-8" style="color:black;margin-left:-40px;margin-right:-80px;margin-left:-40px;">
      <h1 style="font-weight:bold;font-size:50px;margin-top:0;">PLAY YOUR DAMN TURN</h1>
      <h3>Civ 6 Hotseat Multiplayer Management</h3>
    </div>
  </div>
</div>