<div class="card mt-3">
  <div class="card-header">Start Game</div>
  <div class="card-body">
    @if (game.players.length < 2) {
      <div>
        <p>You can't start the game until you have at least 2 human players registered.</p>
      </div>
    }
    @if (game.players.length > 1) {
      <div>
        <p>When you're ready to start the game, click the button below!</p>
        <div class="row">
          <div class="col-12 text-center">
            <button type="button" class="btn btn-primary" (click)="confirmStartGameModal.show()">Start Game!</button>
          </div>
        </div>
      </div>
    }
  </div>
</div>

<div
  bsModal
  #confirmStartGameModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="confirmStartGameLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Are you sure?</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="confirmStartGameModal.hide()"></button>
      </div>
      <div class="modal-body">
        Are you sure you're ready to start this game with <b>{{ game?.players.length }}</b> human players?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="confirmStartGameModal.hide()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="confirmStartGameModal.hide(); startGame()">
          Start the Game!
        </button>
      </div>
    </div>
  </div>
</div>
